<h5>View artisans</h5>
<div class="small-6 column">
  <table class="table-responsive">
    <table class="table">
      <thead>
      <tr>
        <th>Name</th>
        <th>Contact</th>
        <th>Address</th>
        <th>Job Title</th>
        <th>Image</th>
        <th>Points</th>
      </tr>
      </thead>
      <tbody>
        {{#each artisans}}
      <tr>
        <td>{{name}}</td>
        <td>{{contacts}}</td>
        <td>{{address}}</td>
        <td>{{job_title}}</td>
        <td>{{img}}</td>
        <td>{{score}}</td>
      </tr>
        {{/each}}
      </tbody>
    </table>
  </table>
</div>
